BazaPoklonaWcfService/Connected Services/TrgovinaService1/TrgovinaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BazaPoklonaWcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BazaPoklonaWcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrgovina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trgovina" nillable="true" type="tns:Trgovina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrgovina" nillable="true" type="tns:ArrayOfTrgovina" />
  <xs:complexType name="Trgovina">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTrgovina" type="xs:int" />
      <xs:element minOccurs="0" name="NazivTrgovina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VrstaRobe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trgovina" nillable="true" type="tns:Trgovina" />
</xs:schema>